<h1>Record Match</h1>

<%= form_with model: @match do |f| %>
  <div>
    <%= f.label :winner_id, "Winner" %>
    <%= f.collection_select :winner_id, @players, :id, :name %>
  </div>

  <div>
    <%= f.label :loser_id, "Loser" %>
    <%= f.collection_select :loser_id, @players, :id, :name %>
  </div>

  <%= f.submit "Save Match" %>
<% end %>
